---
layout: default
---
<h1>{{ page.title }}</h1>
<h3 class="subheader">{{ page.short_description }}</h3>
<hr>
<div class="tags row">

  <div class="small-6 large-6 columns">
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags.html#{{ tag | cgi_escape }}"><span class="tag">{{ tag }}</span></a>
    {% endfor %}
  </div>
  <div class="small-6 large-6 columns text-right">
    <a href="{{ site.baseurl }}/difficulty.html#{{ page.difficulty | cgi_escape }}"><span class="difficulty-{{ page.difficulty | downcase }}">{{ page.difficulty }}</span></a>
  </div>

</div>
<hr>

<div class="post">
  {{ content }}
</div>